Type "/nick yourname" to change your nickname.

<ul id="chatroom">
</ul>

<script>
  jQuery(document).ready(function() {
    $("#messages-form").bind('ajax:success', function(data, status, xhr) {
      $("#messages-form").find(':input').each(function() {
        if(this.type == 'text') {
          $(this).val('');
        }
      });
    });

    var source = new EventSource('/messages/show.json');
    source.addEventListener('message', function(e) {
      var event = JSON.parse(e.data);
      var room = $('#chatroom');
      room.append("<li>" + event.who + ": " + event.value + "</li>");
      while(room.children().size() > 30) {
        room.children().first().remove();
      }
    });
  });
</script>

<%= form_tag('/messages', :remote => true, :id => 'messages-form') do  %>
  <%= text_field_tag 'message' %>
  <%= submit_tag 'Send' %>
<% end %>
