<p>Type "/nick yourname" to change your nickname.</p>

<ul id="chatroom" class="box">
  <li class="box-header">conversation</li>
</ul>

<script>
  var nickname = '<%= h(session[:name]) %>';

  function listener(e) {
    var event    = JSON.parse(e.data);
    var room     = $('#chatroom');
    var li_class = "other";

    if (event.me == "yes") {
      li_class = "me";
    }

    room.append("<li class=\"" + li_class + "\">" + event.who + ": " + event.value + "</li>");

    while(room.children().size() > 15) {
      room.children().first().remove();
    }
  }

  jQuery(document).ready(function() {
    $("#messages-form").bind('ajax:success', function(data, status, xhr) {
      $("#messages-form").find(':input').each(function() {
        if(this.type == 'text') {
          var message = $(this).val();
          var match   = /^\/nick\s*(.*)$/.exec(message);
          var obj     = { me: 'yes', who: nickname };
          var uri     = parseUri(message);

          if (match) {
            message = "changed name to " + match[1];
            nickname = match[1];
          }

          if (uri && uri.protocol == 'http') {
            if (/\.(png|jpg|gif)$/.exec(uri.path)) {
              message = "<img src=\"" + message + "\" />";
            } else {
              message = "<a href=\"" + message + "\">" + makeSafe(message) + "</a>";
            }
          } else {
            message = makeSafe(message);
          }

          $(this).val('');

          obj.value = message;
          listener({ data: JSON.stringify(obj) });
        }
      });
    });

    var source = new EventSource('/messages/show.json');
    source.addEventListener('message', listener);
  });
</script>

<%= form_tag('/messages', :remote => true, :id => 'messages-form') do  %>
  <%= text_field_tag 'message' %>
<% end %>
