Type "/nick yourname" to change your nickname.

<ul id="chatroom">
</ul>

<script>
  var nickname = '<%= h(session[:name]) %>';

  jQuery(document).ready(function() {
    $("#messages-form").bind('ajax:success', function(data, status, xhr) {
      $("#messages-form").find(':input').each(function() {
        if(this.type == 'text') {
          var room    = $('#chatroom');
          var message = $(this).val();
          var name    = nickname;
          var match   = /^\/nick\s*(.*)$/.exec(message);

          if (match) {
            message = "changed name to " + match[1];
            nickname = match[1];
          }

          var uri = parseUri(message);
          if (uri && uri.protocol == 'http') {
            if (/\.(png|jpg|gif)$/.exec(uri.path)) {
              message = "<img src=\"" + message + "\" />";
            } else {
              message = "<a href=\"" + message + "\">" + makeSafe(message) + "</a>";
            }
          } else {
            message = makeSafe(message);
          }

        room.append($("<li class=\"me\">" +
          makeSafe(name) + ": " + message + "</li>"));

          $(this).val('');
        }
      });
    });

    var source = new EventSource('/messages/show.json');
    source.addEventListener('message', function(e) {
      var event    = JSON.parse(e.data);
      var room     = $('#chatroom');
      var li_class = "other";

      if (event.me == "yes") {
        li_class = "me";
      }

      room.append("<li class=\"" + li_class + "\">" + event.who + ": " +
        event.value + "</li>");

      while(room.children().size() > 30) {
        room.children().first().remove();
      }
    });
  });
</script>

<%= form_tag('/messages', :remote => true, :id => 'messages-form') do  %>
  <%= text_field_tag 'message' %>
  <%= submit_tag 'Send' %>
<% end %>
